# Eclipse specific files
.classpath
.project
.settings/

# Java specific files
*.class
*.jar
*.war
*.ear

# Package Files #
*.jar
*.war
*.ear

# Logs and temp files
*.log
*.tmp

# Compiled class file
*.class

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle specific files
.gradle/
build/

# IntelliJ IDEA specific files
.idea/
*.iml
*.iws
out/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini
